<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">풍력발전</a>
        </div>
    <!-- /.container -->
    	<div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    
                    <li>
                        <a href="equipment?opc=PLCDATA03" class="active"><i class="fa fa-dashboard fa-fw"></i> Process into operation</a>
                    </li>
                    <li>
                        <a href="address?eid=ABBC_D_030&ename=BAH-125c%20%231%20Screw(히타부)%20체결" class="active"><i class="fa fa-bar-chart-o fa-fw"></i> Process-specific operating status </a>                           
                    </li>
                 
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>       	
</nav>