<!-- jQuery -->
<script src="/static/libraries/jquery/jquery.min.js"></script>

<!-- jQuery Temmplate -->
<script src="/static/libraries/jquery/jquery.tmpl.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/libraries/bootstrap/bootstrap.min.js"></script>

<!-- Utilities -->
<script src="/static/scripts/utilities.js"></script>

<!-- Flot Charts JavaScript -->
<script src="/static/libraries/flot/excanvas.min.js"></script>
<script src="/static/libraries/flot/jquery.flot.js"></script>
<script src="/static/libraries/flot/jquery.flot.pie.js"></script>
<script src="/static/libraries/flot/jquery.flot.resize.js"></script>
<script src="/static/libraries/flot/jquery.flot.time.js"></script>
<script src="/static/libraries/flot/jquery.flot.tooltip.min.js"></script>

<!-- MorrisJS -->
<script src="/static/libraries/morrisjs/morris.min.js"></script>
<script src="/static/libraries/raphael/raphael.min.js"></script>


<!-- WEB SOCKET -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" src="/static/scripts/socket.js"></script>