<meta charset="utf-8">

<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png"> -->

<!-- Bootstrap Core CSS -->
<link href="/static/libraries/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/static/libraries/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/static/libraries/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Morris JS -->
<link href="/static/libraries/morrisjs/morris.css" rel="stylesheet" type="text/css">
